html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #00ffff, #008080);
}
#heading {
  text-align: center;
  font-family: "Playpen Sans", cursive;
  font-size: 2rem;
  color: #fff;
}
#jpn-txt {
  text-align: center;
  font-family: "Noto Serif JP", serif;
  font-size: 2rem;
  color: #fff;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn > button {
  font-family: "Playpen Sans", cursive;
  font-size: 1rem;
  margin: 20px;
  padding: 10px 20px;
  background-color: lightgreen;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.btn > button:hover {
  background-color: #2980b9;
  transform: scale(1.25);
  font-size: 1.25rem;
}
.sudoku-container {
  display: grid;
  grid-template-columns: repeat(9, 72px);
  grid-template-rows: repeat(9, 72px);
  border-top: 7px solid black;
  border-left: 7px solid black;
  border-bottom: 7px solid black;
}
.sudoku-container > div {
  font-size: 4em;
  text-align: center;
  border: 2px solid black;
}
.sudoku-container > div:nth-child(n) {
  background-color: grey;
  color: aqua;
}
.sudoku-container > div:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
}
.sudoku-container > div:nth-child(3n) {
  border-right: 7px solid black;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bottom-heavy {
  border-bottom: 7px solid black;
}
#footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-txt {
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #fff;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  .btn > button {
    margin: 10px;
    padding: 8px 16px;
  }

  .sudoku-container {
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .btn > button {
    margin: 5px;
    padding: 6px 12px;
  }

  .sudoku-container {
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    font-size: 2em;
  }
}
